body{
    background-color: #F2E5D5;
    font-family: sans-serif;
    text-align: center;
}
#container-grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 2fr auto auto ;
}
header{
    grid-column-start: 1;
    grid-column-end: 4;
    order: 1;
    min-height: 5em;
    display:flex;
    flex-direction: column;
    margin-bottom: 1em;
}

h1{
    background-color: #73161E;
    color: white;
    clip-path: polygon(5% 0, 95% 0, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0% 90%, 0 10%);
    display: flex;
    justify-content: center;
    align-items:center;
    max-width: 40%;
    margin: auto;
}
nav{
    display:flex;
    justify-content: space-around;
}
nav div{
    background-color: #364959;
    color: white;
    clip-path: polygon(5% 0, 95% 0, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0% 90%, 0 10%);
}
#characteristicsBloc1{
    order: 2;
    max-height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#characteristicsBloc2{
    order: 4;
    max-height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#img{
    order: 3;
    display: flex;
    justify-content: center;
}
img{
    max-height: 400px;    
    object-fit: contain;
}
.box{
    background-color: #4D5940;
}
.number{
    background-color: white;
}
.characteristics{
    background-color: #73161E;
    color:white;
    margin: 2%;
    clip-path: polygon(5% 0, 95% 0, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0% 90%, 0 10%);
}
#skills{
    grid-column-start: 1;
    grid-column-end: 4;
    order:5;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul li{
    background-color: #DFEDF2;
    min-width: 40%;
}

footer{
    grid-column-start: 1;
    grid-column-end: 4;
    order:6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5em;
}
.attributes{
    background-color: white;
}
.attributeName{
    background-color: #364959;
    color:white;
}

@media screen and (min-width: 1200px){
    #container-grid{
        padding:1em;
        display:grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    header{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        order:1
    }
    h1{
        justify-items: flex-end;
        order:2;
        min-width: 20%;
        margin-right: 1em;
    }
    nav{
        min-width: 30%;
        justify-items: flex-start;
        align-items: center;
        display: flex;
    } 
    nav div{
        justify-content: space-around;
    }
    #characteristicsBloc1{
        order:2;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        min-height: 10em;
    }
    #characteristicsBloc2{
        order:5;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        min-height: 10em;
    }
    #skills{
        order:3;
        grid-area: 2/2/4/3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #img{
        order:4;
        grid-area: 2/3/6/4;
    }
    img{
        max-height: 500px;    
        object-fit: contain;
    }
    footer{
        order:6;
        grid-column-start: 1;
        grid-column-end: 3;
        min-height: 5em;
        padding-left: 10em;
        padding-right: 10em;
    }