body{
    background-image: url(./background\ portrait.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: sans-serif;
    text-align: center;
}
#container-grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 2fr auto auto ;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
}
header{
    grid-column-start: 1;
    grid-column-end: 4;
    order: 1;
    min-height: 5em;
    display:flex;
    flex-direction: column;
    margin-top: 4.5em;
    margin-bottom: 1em;
}

h1{
    background-color: #73161E;
    color: white;
    border: solid rgb(85, 82, 82) 2px;
    box-shadow: inset -1px -1px 10px #360106;
    clip-path: polygon(5% 0, 95% 0, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0% 90%, 0 10%);
    padding: 1% 4% 1%;
    display: flex;
    justify-content: center;
    align-items:center;
    max-width: 40%;
    margin: auto;
}
nav{
    margin: 2%;
    display:flex;
    justify-content: space-around;
}
nav div{
    background-color: #364959;
    color: white;
    border: solid  rgb(85, 82, 82) 2px;
    box-shadow: inset -1px -1px 10px #202d37;
    padding: 1% 4% 1%;
    clip-path: polygon(5% 0, 95% 0, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0% 90%, 0 10%);
}
#characteristicsBloc1{
    order: 2;
    max-height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

#characteristicsBloc2{
    order: 4;
    max-height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
#img{
    order: 3;
    display: flex;
    justify-content: center;
}
img{
    max-height: 400px;    
    object-fit: contain;
    box-shadow: 0px 0px 10px 5px #696969e6;
    outline: 5px solid #73161E;
}
.box{
    background-color: #4D5940;
    transition: background-color 1s;
    width: 7em;
    height: 7em;
    box-shadow: inset -1px -1px 10px black;
    clip-path: polygon(5% 0, 95% 0, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0% 90%, 0 10%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.number{
    background-color: white;
    font-size: 2.5em;
    border-radius: 40px;
    border: 7px double rgb(85, 82, 82);
    outline: 3px solid black;
    box-shadow: 0 0 0 4px white;
    outline-offset: 4px;
    min-width: 43%;
    min-height: 43%;
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.characteristics{
    background-color: #73161E;
    border: solid #4d1015 1px;
    color:white;
    padding: 3% 8% 2%;
    margin: 3%;
    align-self: stretch;
    clip-path: polygon(5% 0, 95% 0, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0% 90%, 0 10%);
}
#skills{
    grid-column-start: 1;
    grid-column-end: 4;
    order:5;
    min-height: 10em;
    display: flex;  
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
    display: none;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}
ul li{
    background-color: #DFEDF2;
    border: solid #364959 1px;
    box-shadow: inset -1px -1px 10px grey;
    width: 14.5em;
    height: 1.4em;
    padding-top: 0.2em;
    margin: 0.2em;
    clip-path: polygon(5% 0, 95% 0, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0% 90%, 0 10%);

}
.diamond{
    color:green;
}
.hexa{
    color:gold;
}
.visible{
    display: flex;
}
.clickedbox{
    background-color:#9dc274;
    transition: background-color 1s;
}
footer{
    grid-column-start: 1;
    grid-column-end: 4;
    order:6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5em;
    margin-bottom: 5em;
}
.attributes{
    background-color: white;
    border: solid rgb(85, 82, 82) 1px;
    box-shadow: inset -1px -1px 10px #979292;
    width: 8em;
    height: 5em;
    clip-path:polygon(20% 0, 80% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0 20%);
    display: flex;
    flex-direction: column;
}
.attributeName{
    background-color: #364959;
    border: solid rgb(85, 82, 82) 2px;
    color:white;
    clip-path: polygon(15% 0, 85% 0, 100% 50%, 100% 50%, 85% 100%, 15% 100%, 0% 50%, 0 50%);
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 2%;
}
.attribute-number{
    font-size: 2em;
    justify-self:center;
    align-self:center;
    padding-top: 0.4em; 
}


@media screen and (min-width: 1200px){
    body{
        background-image: url(./background\ paysage1.jpg);
        object-fit: fill;
        background-repeat: no-repeat;
    }
    #container-grid{
        padding:1em;
        margin-right: 7em;
        margin-left:8em;
        display:grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    header{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        order:1
    }
    h1{
        justify-items: flex-end;
        order:2;
        min-width: 20%;
        margin-right: 1em;
    }
    nav{
        margin-left: 8%;
        width: 35%;
        justify-items: flex-start;
        align-items: center;
        display: flex;
        justify-content: space-between;
    } 
    nav div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10em;
        height: 3em;
        margin: 1em;
    }
    #characteristicsBloc1{
        order:2;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        min-height: 10em;
    }
    #characteristicsBloc2{
        order:5;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        min-height: 10em;
    }
    .box{
        width:9em;
        height: 9em;
    }
    #skills{
        order:3;
        grid-area: 2/2/4/3;
        max-width: 15em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #img{
        order:4;
        grid-area: 2/3/6/4;
        max-width: 15em;
    }
    img{
        max-height: 500px;    
        object-fit: contain;
    }
    footer{
        order:6;
        grid-column-start: 1;
        grid-column-end: 3;
        min-height: 5em;
    }
    .attributes{
        width: 10em;
        height: 6em;
    }
}